.admindashboard-heading {
    text-align: center;
    margin-top: 45px;
}

.admin-welcome {
    text-align: center;
}

.dashboard-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 300px;
    height: 125px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.total-users {
    text-align: center;
    font-size: 24px;
    margin: 0;
}

@media (max-width: 767px) {
    .admindashboard-heading,
    .admin-welcome {
        margin-right: 0;
    }

    .dashboard-card {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .admindashboard-heading {
        margin-left: -340px;
    }

    .admin-welcome {
        margin-left: -340px;
    }

    .dashboard-card {
        width: 60%;
    }
}
