.user-table-container {
    padding: 20px;
  }

 .user-table-heading {
    text-align: center;
    /* margin-top: -490px; */
 }
  
  table {
    width: 85%;
    margin-left: 213px;
    /* margin-top: -150px; */
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f4f4f4;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  