.main-forgot-password {
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: 30px;
        padding-top: 5px;
}

.forgot-password-card {
        width: 28rem;
        border-radius: 20px;
        box-sizing: border-box;
}


.forgot-password-card-body .forgot-password-img-div{
        margin-bottom: 4px;
        text-align: center;

}

.forgot-password-card-body .forgot-password-img-div img {
        height: 100px;
        width: 250px;
}