.dashboard-container {
  display: flex;
}

.sidebar {
  width: 190px;
  height: 100vh;
  transition: width 0.3s ease;
  background-color: white;
  position: fixed;
  margin-top: 57px;
}

.sidebar.collapsed {
  width: 80px;
}

.link_text {
  color: rgb(14, 158, 14);
  font-weight: bold;
}

.sidebar.collapsed .link_text {
  display: none;
}

.sidebar .Title {
  text-align: left;
  padding: 20px 0;
  margin-left: 10px;
}

.sidebar .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.sidebar .nav .nav-item .nav-link .nav-icon {
  margin-right: 10px;
  color: rgb(14, 158, 14);
}

.sidebar .nav .nav-item.active {
  background-color: rgb(14, 158, 14);
  border-radius: 20px;
  width: 190px;
}

.sidebar .nav .nav-item.active .link_text,
.sidebar .nav .nav-item.active .nav-icon {
  color: white;
}

.sidebar .sidebar-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.sidebar .sidebar-toggle .toggle-icon {
  font-size: 1.5em;
  margin-left: -20px;
  margin-top: -102px;
}

.sidebar-toggle {
  cursor: pointer;
  text-align: center;
  font-size: 21px;
  transition: all 0.3s ease;
  margin-left: 72%;
  width: 37px;
  margin-bottom: 6px;
  color: #0a98d8;
}

.sidebar-toggle.collapsed {
  color: #0a98d8;
  margin-left: 40%;
  margin-top: 15px;
}
