
  /* Larger desktops (Optional) */
  @media (min-width: 1200px) {
    .main-forgot-password {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding-top: 5px;
        height: 100vh; /* Ensure the parent container takes the full viewport height */
      }
      
      .forgot-password-card {
        border-radius: 20px;
        box-sizing: border-box;
        width: 30%;
      }
    
    .forgot-password-card-body .forgot-password-img-div{
        margin-bottom: 4px;
        text-align: center;
    
    }
    
    .forgot-password-title{
        font-size:20px;
    }
    
    .forgot-password-card-body .forgot-password-img-div img {
      height: 51px;
      width: 99px;
    }
    
    .send-button{
        background-color: rgb(14, 158, 14);
        color: white;
        border: none;
        outline: none;
        font-weight: bold;
        width: 77%;
        height: 44px;
        border-radius: 25px;
        margin: 20px;
    }
    .email-input {
        display: block;
        width: 84%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: 10px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        /* margin-top: 1.25rem !important; */
        margin-left: 30px;
        height: 50px;
      }
    
    .email-label{
        margin-left: 34px;
    }
  }



    /* iPad (Tablet) styles */
    @media (min-width: 768px) and (max-width: 1024px) {
        .main-forgot-password {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            padding-top: 5px;
            margin-left: 50px;
        }
        
        .forgot-password-card {
            width: 28rem;
            border-radius: 20px;
            box-sizing: border-box;
        }
        
        
        .forgot-password-card-body .forgot-password-img-div{
            margin-bottom: 4px;
            text-align: center;
        
        }
        
        .forgot-password-title{
            font-size:20px;
        }
        
        .forgot-password-card-body .forgot-password-img-div img {
          height: 57px;
          width: 125px;
        }
        
        .send-button{
            background-color: rgb(14, 158, 14);
            color: white;
            border: none;
            outline: none;
            font-weight: bold;
            width: 58%;
            height: 44px;
            border-radius: 25px;
            margin: 20px;
        }
        .email-input {
            display: block;
            width: 90%;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: var(--bs-body-color);
            appearance: none;
            background-color: var(--bs-body-bg);
            background-clip: padding-box;
            border: var(--bs-border-width) solid var(--bs-border-color);
            border-radius: 10px;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            /* margin-top: 1.25rem !important; */
            margin-left: 30px;
            height: 50px;
          }
        
        .email-label{
            margin-left: 60px;
        }
      }
  
      

/* Mobile styles */
@media (max-width: 767px) {
    .main-forgot-password {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding-top: 5px;
      }
    
      .forgot-password-card {
        width: 90%;
        border-radius: 20px;
        box-sizing: border-box;
      }
      .forgot-password-card-body {
        width: 100%;
      }
     

      .forgot-password-card-body .forgot-password-img-div {
        margin-bottom: 4px;
        text-align: center;
      }
    
      .forgot-password-title {
        font-size: 18px;
      }
    
      .forgot-password-card-body .forgot-password-img-div img {
        height: 50px;
        width: 98px;
      }
    
      .send-button {
        background-color: rgb(14, 158, 14);
        color: white;
        border: none;
        outline: none;
        font-weight: bold;
        width: 80%;
        height: 40px;
        border-radius: 20px;
        margin: 20px;
      }
    
      .email-input {
        display: block;
        width: 95%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--bs-body-color);
        appearance: none;
        background-color: var(--bs-body-bg);
        background-clip: padding-box;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-radius: 10px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        margin: 0 auto;
        height: 45px;
      }
    
      .email-label {
        margin-left: 15px;
      }
  }
  

