/* Larger desktops (Optional) */
@media (min-width: 1200px) {
  .main-forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 5px;
    height: 100vh; /* Ensure the parent container takes the full viewport height */
  }

  .forgot-password-card {
    border-radius: 20px;
    box-sizing: border-box;
    width: 30%;
  }

  .forgot-password-card-body .forgot-password-img-div {
    margin-bottom: 4px;
    text-align: center;
  }

  .forgot-password-title {
    font-size: 20px;
  }

  .forgot-password-card-body .forgot-password-img-div img {
    height: 75px;
    width: 160px;
  }

  .send-button {
    background-color: rgb(14, 158, 14);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    width: 77%;
    height: 44px;
    border-radius: 25px;
    margin: 20px;
  }

  .input-group {
    position: relative;
    width: 84%;
    margin-left: 30px;
  }

  .email-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 50px;
  }

  .input-icon {
    position: absolute;
    right: 10px;
    top: 67%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: 100%;
    pointer-events: none;
    color: #ccc6c6;
    font-size: 1.5rem;
  }

  .email-label {
    margin-left: 34px;
  }
}

/* iPad (Tablet) styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 5px;
    margin-left: 50px;
  }

  .forgot-password-card {
    width: 28rem;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .forgot-password-card-body .forgot-password-img-div {
    margin-bottom: 4px;
    text-align: center;
  }

  .forgot-password-title {
    font-size: 20px;
  }

  .forgot-password-card-body .forgot-password-img-div img {
    height: 75px;
    width: 160px;
  }

  .send-button {
    background-color: rgb(14, 158, 14);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    width: 58%;
    height: 44px;
    border-radius: 25px;
    margin: 20px;
  }

  .input-group {
    position: relative;
    width: 90%;
    margin-left: 30px;
  }

  .email-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 50px;
  }

  .input-icon {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: 100%;
    pointer-events: none;
    color: #ccc6c6;
    font-size: 1.5rem;
  }

  .email-label {
    margin-left: 60px;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .main-forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 5px;
  }

  .forgot-password-card {
    width: 90%;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .forgot-password-card-body {
    width: 100%;
  }

  .forgot-password-card-body .forgot-password-img-div {
    margin-bottom: 4px;
    text-align: center;
  }

  .forgot-password-title {
    font-size: 18px;
  }

  .forgot-password-card-body .forgot-password-img-div img {
    height: 75px;
    width: 160px;
  }

  .send-button {
    background-color: rgb(14, 158, 14);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    width: 80%;
    height: 40px;
    border-radius: 20px;
    margin: 20px;
  }

  .input-group {
    position: relative;
    width: 95%;
    margin: 0 auto;
  }

  .email-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 45px;
  }

  .input-icon {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: 100%;
    pointer-events: none;
    color: #ccc6c6;
    font-size: 1.5rem;
  }

  .email-label {
    margin-left: 15px;
  }
}